@media(max-width: 815px) {
  .col {
    flex-basis: 11%;
  }
}
@media(max-width: 555px) {
  .col {
    flex-basis: 28%;
  }
}
@media(max-width: 620px) {
  .col {
    flex-basis: 18%;
    clear: both;
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: auto !important;
  }
}

.layer {
width:189%;
height: fit-content;
  min-height: 100%;
}

.col {
  flex-basis: 12%;
}